
@{
    ViewBag.Title = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks you for your interest we will keep updated.</h2>
<div>
    @Html.ActionLink("Back to Register", "Index")
</div>

